include LICENSE
include README.md
include env.yml
include pyproject.toml
include requirements.txt

recursive-include bookworm *.py
recursive-include bookworm/data *
recursive-include bookworm/data/complete_w_embeddings *
recursive-include bookworm/data/test_data *
recursive-include bookworm/images *
recursive-include bookworm/tests *

recursive-include scripts *
recursive-include scripts/create_test_data *

